
create table pellet (
lotnum bigint unsigned primary key, 
makedate datetime, 
u235_1 double, 
u235_2 double, 
u234 double, 
u236 double, 
u238 double, 
u_contain float, 
gd203 float, 
omrate float, 
ai float, 
si float, 
camg float, 
c float, 
clf float, 
cr float, 
f float, 
fe float, 
ni float, 
n float, 
th float, 
10time float, 
400time float, 
homogen_1 varchar(64), 
homogen_2 varchar(64), 
homogen_3 varchar(64), 
homogen_4 varchar(64)
);


